<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
    .dropdown {
        width: 100% !important;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    </style>
</head>
<body>
    <div class="container">
        <h1>Input Form</h1>
        <form method="post" action="/calculate">
         <div id="errorContainer"></div> <!-- Container for error messages -->
            <label for="input1">Score 1:</label>
            <input type="number" id="input1" name="input1" value="{{ input1 | default('') }}" required>

            <label for="input2">Score 2:</label>
            <input type="number" id="input2" name="input2" value="{{ input2 | default('') }}" required>

            <label for="input3">Score 3:</label>
            <input type="number" id="input3" name="input3" value="{{ input3 | default('') }}" required>
            
            <label for="input4">Score 4:</label>
            <input type="number" id="input4" name="input4" value="{{ input4 | default('') }}" required>

            <label for="input5">Input 5:</label>
            <input type="number" id="input5" name="input5" value="{{ input5 | default('') }}" required>

            <label for="input6">Input 6:</label>
            <input type="number" id="input6" name="input6" value="{{ input6 | default('') }}" required>

            <button type="submit">Submit</button>
        </form>

        <div id="outputContainer">
            <h2>Output:</h2>
            <p id="output">{{ output | default('') }}</p>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
